
VITE_APP_NAME=Korecha E-commerce
VITE_APP_VERSION=1.0.0  
PUBLIC_URL=https://korecha.com


VITE_SERVER_URL=https://korecha.com


VITE_AUTH_METHOD=jwt
VITE_AUTH_SKIP=false
VITE_AUTH_REDIRECT_PATH=/dashboard


